body{
    margin:0;
    padding:0;
   
   
}
.app{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame{
    width:350px;
    height: 350px;
    border:2px solid black;
    border-radius: 50%;
    position: relative;
}


.angle-0{
    width:400px;
    height: 2px;
    top:50%;
    left:-25px;
    position: absolute;
    background: red;
    display: none;
}
.rotate-30{
    transform: rotate(30deg);
}
.rotate-60{
    transform: rotate(60deg);
}
.rotate-m-30{
    transform: rotate(-30deg);
}
.rotate-m-60{
    transform: rotate(-60deg);
}
.rotate-90{
    transform: rotate(90deg);
}

.number{
    position:absolute;
    z-index: 100;
    font-size: 24px;
}
.frame .number-12{
    left: calc(50% - 11px);
    top: 5px;
}

.frame .number-3{
    right: 5px;
    top: calc(50% - 11px);
}
.frame .number-1{
    right: 85px;
    top: 6%;
}
.frame .number-2{
    right: 25px;
    top: 23%;
}
.frame .number-6{
    left: calc(50% - 5px);
    bottom: 5px;
}
.frame .number-4{
    right: 28px;
    bottom: 23%;
}
.frame .number-5{
    right: 88px;
    bottom: 21px;
}
.frame .number-7{
    left: 26%;
    bottom: 22px;
}
.frame .number-8{
    left: 9%;
    bottom: 80px;
}
.frame .number-9{
    top: calc(50% - 11px);
    left: 5px;
}

.frame .number-10{
    top: 23%;
    left: 25px;
}

.frame .number-11{
    top: 7%;
    left: 85px;
}

.hand{
    position:absolute;
    left: 175px;
    transform: rotate(0deg);
    transform-origin: bottom;
    
}

.hour-hand{
    width: 4px;
    background-color: blue;
    height: 70px;
    top:calc(175px - 70px);
   
}
.minute-hand{
    width: 2px;
    background-color: rgb(255, 0, 0);
    height: 120px;
    top:calc(175px - 120px);
}
.second-hand{
    width: 1px;
    background-color: rgb(8, 131, 49);
    height: 150px;
    top:calc(175px - 150px);
}

.center-button{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}

